#header.row {
    display: flex;
    font-size: 30px;
}

/* #confetti-canvas {
    width: 0px;
    height: 0px;
    z-index: 10000;
    position: absolute;
} */

/* Create two equal columns that sits next to each other */

#header .column {
    flex: 50%;
    padding: 10px;
    /* Should be removed. Only for demonstration */
}

/* #cards {
    display: flex;
    flex-wrap: wrap;
    perspective: 600px;
} */

#cards {
    display: grid;
    grid-template-columns: repeat(4, 5em);
    justify-content: center;
    /* grid-gap: .5em; */
}

.card img {
    max-width: 115px;
    max-height: 115px;
}

.card {
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

/* .card.is-flipped {
    transform: rotateY(180deg);
} */

.card__face {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* .card__face--back {
    transform: rotateY(180deg);
} */