<template>
    <div v-if="playerIndex === null">
        <h1>Memory</h1>

        <!-- Get player name -->
        <h2>Cum te cheamă? <br /></h2>
        <input
            type="text"
            v-model="playerName"
            v-on:keyup.enter="savePlayerName"
        />
        {{errMsg}}
        <br /><br />
        <button @click="savePlayerName">OK</button>
    </div>
    <div v-else>
        <div id="header" class="row">
            <!-- show the fist 2 players -->
            <div class="column" v-for="(player, index) in gameState.players.slice(0, 2)" :key="index">
                {{ player.name }} - {{ player.points }}
                <span v-if="player.winner">😊</span>
                <span v-if="player.nextInTurn">🟢</span>
                <span v-else>🖐</span>
            </div>
        </div>

        <div id="cards">
            <div
                :class="`card ${card.isFlipped ? 'is-flipped' : ''}`"
                v-for="(card, index) in gameState.cards"
                :key="index"
            >
                <div v-if="card.isFlipped" class="card__face card__face--front">
                    <img :src="`${publicPath}${imagesType}/${card.img}.png`" />
                </div>
                <div v-else class="card__face card__face--back" @click="flip(index)">
                    <img :src="`${publicPath}back.png`" />
                </div>
            </div>
            
            <canvas id="confetti-canvas"></canvas>
        </div>
    </div>
</template>


<style src="./Game.css" scoped></style>
<script src="./Game.js"></script>